:root{
  --my-font-size: 15px;
  --my-color: #2b2d31;
  --my-body-background: #f6f7fb;
  --container-width:1200px;
  --my-radius: 10px;
  --my-shadow: 0 8px 24px rgba(31, 41, 55, 0.08);
}

.el-select{
  --el-select-width:250px;
}


.el-form--inline .el-form-item {
  width: 220px;
}

.form-search .el-form--inline .el-form-item {
  width: auto;
}

.user-info-desc{
  font-size: 12px;
  color: #999;
  display: flex;
  flex-wrap: wrap;
  >span{
    margin-right: 5px;
    padding: 5px 8px;
  }
}

@media screen and (max-width: 768px) {
  .el-form .el-form-item{
    flex-flow: column;
  }
  .el-form .el-form-item__label {
    width: 100% !important;
    text-align: left!important;
    justify-content: flex-start;
  }
}